<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="user/views/fragments/fragments::header_top">
</head>
<body id="body_login">

<div class="m-auto col-12">
	<div class="col-md-4 col-12 offset-md-4 offset-0 text-center">
			<h1 class="text-danger" style="margin-top:30%;font-size:6rem">403</h1>
		<h1 class="h4 text-white">What are you looking for ?</h1>
		<a style="font-weight: bold;font-size:1rem" th:href="@{/}">Back to home</a>
	</div>
	
</div>
</body>
</html>