:root{
	--primary-color: rgb(98, 206, 203);
	--secondary-color: rgb(0, 255, 255);
	--background-color:#bfe9f2;
	--background-active:#fff;
	--background-main:rgba(200,200,200,1);
}
.bg-smoke{
	background-color:rgba(160,160,160,1)!important;
}
body{
	overflow-x: hidden!important; 
}
a{
	text-decoration: none!important;
}
*{
	padding:0;
	margin:0;
}
.dashboard_main{
	flex:1!important;
}
.avatar, .details_img{
	border-radius:5px!important;
}
.admin_body{
	background-color:rgba(240,240,240,1)!important;
}
.admin_name{
	color:black;
	text-decoration: none;
	font-weight: bold;
	font-size:1rem;
}
.user_list .avatar, .cate-row .avatar{
	margin-right:1rem;
    width:50px;
}
.user_link p{
	font-size: 12px;
	font-weight: bold;
	color:black;
	margin-bottom:0px!important;
}
.user_details p{
	font-size: 12px;
	font-weight: bold;
	color:black;
	margin-bottom:5px!important;
}
.user_row:hover{
    box-shadow: 3px 3px 6px 2px rgb(183 183 183 / 50%);
}
.hover_row:hover{
 box-shadow: 3px 3px 6px 2px rgb(183 183 183 / 50%);
}
.user_row{
	border-radius:5px;
    border:0.5px solid rgb(183 183 183 / 50%);
    transition:.3s;
    background:white;
}
.user_row .nav-item{
	margin-bottom:0px!important;
}
.details_img{
	height:200px;
    max-width: 150px;
	margin-right:1rem;
}
.user_list{
	border:1px solid grey;
	border-radius:5px;
	background:white;
	box-shadow: 2px 2px 2px 0px rgb(183 183 183 / 50%);
    border:0.5px solid rgb(183 183 183 / 50%);
}
.main_nav{
	background-color:var(--primary-color);
}
.active_user_row{
	background-color:var(--primary-color);
	border:1px solid grey;
}
.main_view{
	transition:.3s;
}
.left_menu_bar{
	min-height:100vh;
	overflow: hidden;
	transition:.3s;
	top:0;
	left:0px;
	background-color:var(--primary-color);
	position: relative;
	display: flex;
    flex-direction: column;
}
.left_menu_content{
	height:100vh;
	width:150px;
}
.logo_nav .logo{
	max-width:100px;
}
.nav-link.btn{
	justify-content:start;
    display: flex;
    text-align:left;
    border-radius:0px;
    transition:0.3s;
    color:white;
    flex-direction: row;
    align-items: center;
}
.nav-link.btn i{
	margin-right:10px;
}
.logo{
	width:100%;
}
.nav-link:hover{
	background-color:var(--secondary-color);
	color:black!important;
}
.active{
	background-color:var(--background-active)!important;
	color:black!important;
}
.user_details{
	position:fixed;
	padding:1rem;
	border-radius:10px;
	width:500px!important;
	background:white;
	box-shadow: 2px 2px 2px 0px rgb(183 183 183 / 50%);
}
.user_update form *{
    margin-right:10px;
}
.user_update{
	border-radius:5px;
	border:0.5px solid rgb(183 183 183 / 50%);
	padding:5px;
}
.form-create-cate{
	border-radius:5px;
	background:white;
	padding:10px;
}
.cate-row{
	border-radius:5px;
	border:0.5px solid rgb(183 183 183 / 50%);
	transition:.3s;
}


.upload_cate_image{
	background:transparent;
	border:unset;
}

.edit_item .file-input label{
	height:400px;
}

.file-input label {
  display: block;
  position: relative;
  height:50px;
  background: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition:.3s;
}
.file-input label:hover{
	scale: 1.02;
}
.imageName {
  position: absolute;
  bottom:0px;
  left: 0px;
  font-size: 0.85rem;
  color: #555;
}
.item_avt{
	height:100px;
	width:100px!important;    
	background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:5px;
}
.item_details{
	padding-left:5px;
    justify-content: center;
}
.item_name{
	font-size:25px;
	color:black;
}
.item_content{
	color:black;
	font-size:13px;
}
.border-5{
	border-radius:5px!important;
}
.rounded-5{
	border-radius:5px!important;
}
.shadow_box{
    box-shadow: 3px 3px 7px 3px #e5e5e5;
}
.item_row:hover{
	transition:.3s;
    box-shadow: 3px 3px 7px 3px #e5e5e5;
}
.input_upload_image{
 opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
#label_upload_edit{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
}
.image_row{
	width:100px!important;
	height:100px;
	margin:5px;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
}

#show_all_images{
	display:none;
	transition:1s;
}
.selected{
    border: 1px solid var(--primary-color);
}
#label_upload_new{
	border:1px solid rgba(150,150,150,1);
}
.images_list{
    max-width: 240px;
}
.product_card{
	height:300px;
	margin:5px 5px;
	overflow:hidden; 
	width:20%;
    border: 1px solid #e7e7e7;
}

.image_product_card{
	height:200px;
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: unset;
}
.p_card_info{
	
}
.p_heading{
	font-size:20px;
	color:black;
}
.p_cate{
	font-size:13px;
}
.p_vendor{
	font-size:13px;
}
.p_details{
	position: absolute;
	bottom:0;
	left:0;
	z-index: 99;
	width:100%;
    justify-content: space-between;
}
#submenu-product{
	transition:.3s;
	display:none;
}
#new_p_panel{
	display:none;
	overflow: hidden;
	position:fixed;
	top:10%;;
	right:1rem;
}
.open{
	display:flex!important;
	overflow: visible;
}
.open-menu{
	width:150px!important;
}
.show{
	transition:.3s;
	display:block!important;
}
#btn_p_menu:hover #submenu-product{
	transition:.3s;
	display:block!important;
}
#left-menu{
	width:0px;
	transition:.3s;
}
#header_mobile{
	display:none!important;
}
#open_menu_left{
	display:none!important;
}
.main_nav{
	display:block;
}

.menu-item:hover{
	background:var(--secondary-color);
	transition:.3s;
}

@media only screen and (max-width: 1024px) {
 #header_mobile{
 display:flex;
 }
.main_nav{
	display:none!important;
}
#open_menu_left{
	display:flex!important;
}
.open-menu{
	width:50%!important;
}
}