<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="cate_list col-12 flex-row d-flex" th:if="${content == 'categories'}"  th:fragment="categories">	
		
		<div class="col-12 d-flex flex-row">
		<div class="col-12 col-md-6">
			<!-- Vendor List -->
			<div class="col-12 items_list bg-white shadow_box p-2">
				<a th:href="@{master?content=categories&cate_id=}+${category.id}" 
				class="mt-2 p-2 col-12 item_row border-5 d-flex flex-row" th:each="category : ${categories}">
					<div class="col-2 item_avt" th:style="'background-image:url(/images/'+${category.image}+');'"></div>
					<div class="item_details col-12 col-md-8 d-flex flex-column" >
						<span class="item_name">[[${category.name}]]</span>
						<span class="item_content">[(${category.category_dtails})]</span>
						<span class="item_content">[[${category.last_edited}]]</span>
					</div>
				</a>
			</div>
		</div>
		<div class="col-12 col-md-5 ms-3">
		
			<div th:if="${edit_category}" class="col-12">
			<!-- Details -->
			<div class="col-6 p-3 border-5 shadow_box bg-white">
				<form class="form-group" th:object="${edit_category}" th:action="@{/master/edit_cate/}+${edit_category.id}" method="POST">
					<label for="cate_name">Category name</label>
					<input id="cate_name" name="name" type="text" th:value="${edit_category.name}" class="col-12 mt-2 form-control"/>
					<label for="cate_details">Category details</label>
					<textarea rows="3" cols="20" id="edit_cate_detail" class="form-control" th:value="${edit_category.category_dtails}" 
					name="category_dtails" 
					placeholder="Detail">[[${edit_category.category_dtails}]]</textarea><div class="file-input col-12">
					<input class="form-control" hidden type="text" name="image" id="edit_item_image"/>
					<input class="form-control file-input input_upload_image" type="file" name="img" id="button_upload_edit" 
					value="Upload Image" onchange="uploadNewFile(this,'edit')"/>
					<label class="mt-2 border-5 col-12 label-upload" id="label_upload_edit"  
					th:style="'background-image:url(/images/'+${edit_category.image}+');'" 
					for="button_upload_edit">
						<span id="image_name_edit"></span>
					</label>
					</div>
					
					<input class="btn col-12 bg-success mt-2 text-white" type="submit" name="submit" value="Save"/>
				</form>
			</div>
			
			</div>
			
			<div class="col-12 mt-2">
			<!-- Create new -->
			
			<div class="col-6 p-3 border-5 shadow_box bg-white">
				<form class="form-group" th:object="${category}" th:action="@{/master/save_cate}" method="POST">
					<label for="cate_name">Category name</label>
					<input id="cate_name" name="name" type="text" th:value="${category.name}" class="col-12 mt-2 form-control"/>
					<label for="cate_details">Category details</label>
					<textarea rows="3" cols="20" id="edit_cate_detail" class="form-control" 
					th:value="${category.category_dtails}" 
					name="category_dtails" 
					placeholder="Detail">[[${category.category_dtails}]]</textarea>
					<div class="file-input col-12">
					<input class="form-control" hidden type="text" name="image" id="new_item_image"/>
					<input class="form-control file-input input_upload_image" type="file" name="img" id="new_upload_image" 
					value="Upload Image" onchange="uploadNewFile(this,'new')"/>
					<label class=" mt-2 border-5 col-12 label-upload"  id="label_upload_new"  for="new_upload_image">
						<span id="image_name">Upload image</span>
					</label>
					</div>
					
					<input class="btn col-12 bg-success mt-2 text-white" type="submit" name="submit" value="Create"/>
				</form>
			</div>
			</div>
		</div>
	</div>
</div>
	

</body>
</html>