<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:fragment="header_admin">
	<title>[[${title}]]</title>
    <link rel="stylesheet" th:href="@{css/admin.css}">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
     <link th:href="@{/fontawesome/css/fontawesome.css}" rel="stylesheet">
	  <link th:href="@{/fontawesome/css/brands.css}" rel="stylesheet">
	  <link th:href="@{/fontawesome/css/solid.css}" rel="stylesheet">
	  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}">
	
    <script type="text/javascript" th:src="@{/js/jquery-3.6.1.min.js}"></script>
	<script src="https://kit.fontawesome.com/f31baacecd.js" crossorigin="anonymous"></script>
    <script src="//js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
	<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
	
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div th:fragment="header_nav">
	<div th:replace="master/views/fragments/header::header_desktop">
	</div>
	<div th:replace="master/views/fragments/header::header_mobile">
	</div>
</div>


<div th:fragment="left_menu_bar">
	<div class="nav left_menu_bar">
	<a th:href="@{/master?content=dashboard}" class="nav-link btn logo_nav" ><img class="logo" th:src="@{/images/logo.png}"/></a>
		<div class="left_menu_content">
			
			<a th:href="@{/master?content=dashboard}" th:class="${content} == dashboard ? 'nav-link btn col-12 active' : 'nav-link btn col-12'" ><i class="fa-solid fa-house"></i>Dashboard</a>
			<a th:href="@{/master?content=products}" th:class="${content} == products ? 'nav-link btn col-12 active' : 'nav-link btn col-12'"><i class="fa-solid fa-database"></i>Products</a>
			<a th:href="@{/master?content=users}" th:class="${content} == users ? 'nav-link btn col-12 active' : 'nav-link btn col-12'"><i class="fa-solid fa-user"></i>Users</a>
			<a th:href="@{/master?content=vendors}" th:class="${content} == vendors ? 'nav-link btn col-12 active' : 'nav-link btn col-12'"><i class="fa-solid fa-copyright"></i>Vendors</a>
			<a th:href="@{/master?content=categories}" th:class="${content} == categories ? 'nav-link btn col-12 active' : 'nav-link btn col-12'"><i class="fa-solid fa-cat"></i>Categories</a>
			<a th:href="@{/user/logout}" class="nav-link btn col-12 text-warning"><i class="fa-solid fa-right-from-bracket"></i>Log out</a>
		</div>
	</div>
</div>

	<div th:fragment="script_footer">
	<script type="text/javascript" th:src="@{js/admin.js}"></script>
	</div>
</body>
</html>