<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="master/views/fragments/fragments::header_admin">
</head>
<body>

<div th:fragment="header_desktop">
<nav class="container-fluid main_nav">
	<div class="col-12">
		<div class="btn">
			<span id="menu_icon"><i class="fa-solid fa-bars"></i></span>
		</div>
		<div class="btn">
			<a class="admin_name" ><i class="fa-solid fa-user-tie"></i> [[${#request.userPrincipal.principal.fullname}]]</a> 
		</div>
	</div>
</nav>

<div th:fragment="header_mobile">

<div th:replace="master/views/fragments/fragments::script_footer"></div>
</div>
</div>
</body>
</html>