<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<div  th:if="${content == 'users'}" th:fragment="user_list_view" class="d-flex flex-row col-12">
	<div class="user_list col-12 col-md-5 p-2" >
		
		<div class="col-12" th:text="'Total '+ ${#lists.size(users)} + ' users:'"></div>
		<div th:class="${user_details.username} == ${username} ? 'active_user_row user_row col-12 p-2 mt-2' : 'user_row col-12 p-2 mt-2'" th:each="user : ${users}">
			<a class="d-flex align-items-center flex-row user_link" th:href="@{/master?content=users&username=}+${user.username}">
			<img class="avatar" th:src="@{/user/images/}+${user.username}"/>
			<span class="flex-row align-items-center">
			<h5 class="nav-item">[[${user.full_name}]]</h5>
			<p>[[${user.email}]]</p>
			</span>
			</a>
		</div>
	</div>
	
	<div class="col-md-6 ms-3 col-12">
		<div th:if="${user_details != null}" class="col-12 user_details">
			<div class=" d-flex flex-row">
			<img class="details_img" th:src="@{/user/images/}+${user_details.username}"/>
			<div>
				<h5>[[${user_details.full_name}]]</h5>
				<p>Username: [[${user_details.username}]]</p>
				<p>Email: [[${user_details.email}]]</p>
				<p>Joined at: [[${user_details.joined_at}]]</p>
				<p th:if="${user_details.role.name == 'ROLE_ADMIN'}" th:text="'Role: Admin'"></p>
				<p th:if="${user_details.role.name == 'ROLE_USER'}" th:text="'Role: User'"></p>
				<p th:if="${user_details.gender == 1}" th:text="'Gender: Male'"></p>
				<p th:if="${user_details.gender == 2}" th:text="'Gender: Female'"></p>
				<p th:if="${user_details.gender == 3}" th:text="'Gender: Unkwon'"></p>
			</div>
			</div>
			<div th:if="${user_details.id != 1}" class="user_update mt-1 col-12">
				<form method="POST" class="align-items-start d-flex flex-column" th:object="${user}" th:action="@{/master/edit/}+${user_details.username}">
					<div >	
					<input type="radio" id="active" th:checked="${user_details.active}" name="active" value="true">
					<label for="active">Active</label>
					<input type="radio" id="unactive" th:checked="${user_details.active == false}"  name="active" value="false">
					<label for="unactive">Unactive</label>
					</div>
					<div>
					<input type="radio" id="role_admin" th:checked="${user_details.role.name == 'ROLE_ADMIN'}" name="role" value="2">
					<label for="role">Admin</label>
					<input type="radio" id="role_user" th:checked="${user_details.role.name == 'ROLE_USER'}"  name="role" value="1">
					<label for="role">User</label>
					</div>
					<button type="submit" class="btn btn-success">Update</button>
				</form>
			</div>
		</div>
		
	</div>
</div>
</body>
</html>